RewriteEngine On
Options +FollowSymLinks -Indexes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) index.php
<FilesMatch "manifest.xml|\.(php|ini)">
  Order Deny,Allow
  Deny from all
</FilesMatch>
<Files index.php>
  Order Allow,Deny
  Allow from all
</Files>