.flex-box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin: 3rem 4rem;
}

.flex-box-container > * {
    border: 1px solid #ddd;
	margin: 2rem;
    padding: 2rem;
	width: 240px;
}